<form class="form-group col d-flex">
        <label>Producto</label>
        <input class="input" id="nombre" type="text" name="producto">
        <label>Precio</label>
        <input class="input" id="precio" type="number" name="precio">
        <label>URL</label>
        <input  class="input" id="url"  type="text" name="url">
        <input type="submit" id="guardar" class="btn btn-primary" value="guardar">
        <input type="submit" id="actualizar" class="btn btn-primary" value="actualizar">
        <input type="submit" id="eliminar" class="btn btn-primary" value="eliminar">
</form>